<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field first">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field last">
    <%= f.label :numStudents %><br />
    <%= f.select :numStudents, (1..50) %>
  </div>
  <div class="actions">
    <%= f.label :none, "<span><a href='/profile'>Cancel</a></span>".html_safe, class: "AA_Button"  %>
    <%= f.submit %>
  </div>
<% end %>
