<h1>Listing <%= t("activerecord.attributes.team.title").pluralize %></h1>

<table>
  <tr>
    <th><%= t("activerecord.attributes.team.name") %></th>
    <th><%= t("activerecord.attributes.team.numStudents") %></th>
    <th><%= t("activerecord.attributes.team.school") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.numStudents %></td>
    <td><%= link_to team.school.name, school_path(team.school) %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
