<h2><%= @team.name %></h2>
<hr />

<div id="teamDetails">
	<h3><u> Info </u></h3>
	
	<p>
	  <b><%= t("activerecord.attributes.team.numStudents") %>:</b>
	  <%= @team.numStudents %>
	</p>
	
	<p>
	  <b><%= t("activerecord.attributes.team.school") %>:</b>
	  <%= @team.school.name %>
	</p>
</div>
