<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b><%= t("helpers.label.team.numStudents")%>:</b>
  <%= @team.numStudents %>
</p>

<p>
  <b>School:</b>
  <%= @team.school.name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
