<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teamName %><br />
    <%= f.text_field :teamName %>
  </div>
  <div class="field">
    <%= f.label :userName %><br />
    <%= f.text_field :userName %>
  </div>
  <div class="field">
    <%= f.label :userEmail %><br />
    <%= f.text_field :userEmail %>
  </div>
  <div class="field">
    <%= f.label :schoolName %><br />
    <%= f.text_field :schoolName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
