<p id="notice"><%= notice %></p>

<p>
  <b>Team Name:</b>
  <%= @application.teamName %>
</p>

<p>
  <b>Name:</b>
  <%= @application.userName %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @application.userEmail %>
</p>

<p>
  <b>School Name:</b>
  <%= @application.schoolName %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
