<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.application.teamName") %>:</b>
  <%= @application.teamName %>
</p>

<p>
  <b><%= t("activerecord.attributes.application.userName") %>:</b>
  <%= @application.userName %>
</p>

<p>
  <b><%= t("activerecord.attributes.application.userEmail") %>:</b>
  <%= mail_to @application.userEmail %>
</p>

<p>
  <b><%= t("activerecord.attributes.application.schoolName") %>:</b>
  <%= @application.schoolName %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
