<table>
  <tr>
    <th><%= t("activerecord.attributes.event.region") %></th>
    <th><%= t("activerecord.attributes.event.name") %></th>
    <th><%= t("activerecord.attributes.event.date") %></th>
    <th><%= t("activerecord.attributes.event.spotsAvailable") %></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.region %></td>
    <td><%= event.name %></td>
    <td><%= event.date %></td>
    <td><%= event.spotsAvailable %></td>
  </tr>
<% end %>
</table>
