<div id="eventList">
  <ul>
    <% @events.each do |event| %>
      <li>
        <div id="cell">
          <p><%= link_to event.name, event %></p>
          <p><%= l event.time, format: :event_cell %></p>
          <p>Spots Available: <%= spotsLeft(event) %></p>
          <p>Region: <%= event.region %></p>
          <%= signUp(event) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>