<div id="eventList">
  <ul>
    <% @events.each do |event| %>
      <li>
        <div id="cell">
          <p><%= link_to event.name, event %></p>
          <p><%= l event.time, format: :event %></p>
          <p>Spots Available: <%= event.spotsAvailable %></p>
          <p>Region: <%= event.region %></p>
          <% if user_signed_in? %>
            <%= link_to "Sign Up!", signup_path(event.id) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>