<p id="notice"><%= notice %></p>

<div id="events">
  <h2><%= @event.name %></h2>
  <div id="info">
    <div id="text">
      <h3>Date & Time</h3>
      <p><%= l @event.time, :format => :event %></p>
      
      <h3>Where</h3>
      <p id="location"><%= @event.location %></p>
      
      <h3>Region</h3>
      <p><%= @event.region.name %></p>
      
      <h3>Spots Left</h3>
      <p><%= spotsLeft(@event) %> / <%= @event.spotsAvailable %></p>
      
      <h3>Who's Going!</h3>
      <%= render "attendees" %>
    </div>
    <div id="map">
    </div>
  </div>
</div>