<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.event.region") %>:</b>
  <%= @event.region %>
</p>

<p>
  <b><%= t("activerecord.attributes.event.name") %>:</b>
  <%= @event.name %>
</p>

<p>
  <b><%= t("activerecord.attributes.event.date") %>:</b>
  <%= @event.date %>
</p>

<p>
  <b><%= t("activerecord.attributes.event.spotsAvailable") %>:</b>
  <%= @event.spotsAvailable %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<ul>
	<%= render(@event.event_attendees) %>
</ul>