<p id="notice"><%= notice %></p>

<div id="events">
  <div id="info">
    <div id="text">
      <h2>Date & Time</h2>
      <p><%= l @event.time, :format => :event %></p>
      
      <h2>Region</h2>
      <p><%= @event.region %></p>
      
      <h2>Spots Left</h2>
      <p><%= spotsLeft(@event) %> / <%= @event.spotsAvailable %></p>
      
      <h2>Who's Going!</h2>
      <ul>
        <%= render(@event.event_attendees) %>
      </ul>
    </div>
    <div id="map">
      <!-- PUT MAP HERE -->
    </div>
  </div>
</div>