<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= @event.region %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Spotsavailable:</b>
  <%= @event.spotsAvailable %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
