<h1>My Profile - <%= link_to t("activerecord.attributes.school.title"), schools_path %></h1>
<div id="page">
	<div id="left">
		<h2>My Teams <%= link_to t("activerecord.attributes.teams.name"), teams_path %></h2>		
		<ul>
			<%= render :partial => Team.where(:shool_id) %>
		</ul>
	</div>
	<div id="right">
		<h2>My Events <%= link_to t("activerecord.attributes.event.title"), events_path %></h2>
		<ul>
			<%= render :partial => Team.where(:event_attendee) %>
		</ul>
	</div>
</div>