<h1>My Profile - <%= link_to t("activerecord.attributes.school.title"), schools_path %></h1>
<div style="width:95%;">
	<div style="float:left; width:45%">
		<h2>My Teams <%= link_to t("activerecord.attributes.teams.name"), teams_path %></h2>		
		<ul>
			<%= render :partial => Team.where(:shool_id) %>
		</ul>
	</div>
	<div style="float:right; width:45%">
		<h2>My Events <%= link_to t("activerecord.attributes.event.title"), events_path %></h2>
		<ul>
			<%= render :partial => Team.where(:event_attendee) %>
		</ul>
	</div>
</div>