<div id="page">
  <div id="user">
  	<span id="pageTitle"><%= current_user.name %></span>
  	<p><%= link_to "Edit Info", edit_user_registration_path(current_user) %></p>
  </div>
  <hr />
  <div id="userList">
    <div id="userInner">
      <h3>My Teams</h3>
      <!--<%= link_to "Apply", new_application_path %>-->
    </div>
    <hr />
    <% if @teams.count > 0 %>
    <ul>
      <% @teams.each do |team| %>
        <li>
          <div id="cell">
            <h4><%= link_to team.name, team %></h4>
            <p>Number of Students: <%= team.numStudents %></p>
            <p id="edit"><%= link_to "Edit Team", edit_team_path(team)%></p>
          </div>
        </li>
      <% end %>
    </ul>
    <% else %>
    <div>
      <p id="empty">NO TEAMS YET :(</p>
    </div>
    <% end %>
  </div>
  
  <div id="userList">
    <div id="userInner">
      <h3>My Events</h3>
      <!--<%= link_to "Sign-Up!", events_path %>-->
    </div>
    <hr />
    <% if @events.count > 0 %>
    <ul>
      <% @events.each do |event| %>
        <li>
          <div id="cell">
            <p><%= link_to event.name, event %></p>
            <p><%= l event.time, format: :event_cell %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <% else %>
    <div>
      <p id="empty">NO EVENTS YET :(</p>
    </div>
  <% end %>
  </div>
</div>