<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field first">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field last">
      <%= f.check_box :remember_me %><%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= render :partial => "devise/shared/links" %>
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<p>Looking for admin sign-in?  <%= link_to "Click Here", new_admin_user_session_path %></p>