<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.school.region") %>:</b>
  <%= @school.region %>
</p>

<p>
  <b><%= t("activerecord.attributes.school.name") %>:</b>
  <%= @school.name %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
