<!DOCTYPE html>
<html>
<head>
  <title>VexWebsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= link_to image_tag("vexlogo.jpg", id: "logo"), root_path %>
    <p id="title"><%= @page_title || "HDSB: Vex" %></p>
    <div id="menu">
      <ul>
        <%= render("renders/menu") %>
      </ul>
    </div>
  </div>
  <div id="content" style="height:100%;">
    <%= yield %>
  </div>
  <div id="created">
    <p>Created by <%= mail_to 'mikkel@mikkelharris.com', "Mikkel Harris" %> & <%= mail_to 'nick@nickmcguire.com', "Nick McGuire"%></p>
  </div>
</body>
</html>
